.wrapper {
  padding: 25px;
  font-family: 'Lato';

  &Title {
    font-size: 32px;
    line-height: 26px;
    text-align: center;
    width: 100%;
  }

  &Container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    
    &Project {
      max-width: 1440px;
      width: 100%;
      margin: 0 auto;
      padding: 10px;
  
      &Title {
          text-transform: uppercase;
          font-size: 25px;
          color: #899EA9;
          text-align: center;
      }
    }
  }

  
}
