.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Lato';

  &Title {
    font-size: 1.8rem;
  }

  &Image {
    max-width: 800px;
    width: 100%;
    object-fit: contain;
  }
}
