.wrapper {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  margin-right: 50px;
  z-index: 10;
  &Icon {
    cursor: pointer;
    width: 25px;
    height: 25px;
  }
}
