@font-face {
  font-family: "Adine";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/adine_kirnberg.ttf") format("truetype");
}

@font-face {
  font-family: "Nesia";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/NesiaSans.otf") format("opentype");
}
