@font-face {
  font-family: "Adine";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/adine_kirnberg.ttf") format("truetype");
}

@font-face {
  font-family: "Nesia";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/NesiaSans.otf") format("opentype");
}

@font-face {
  font-family: "CorrectionBrush";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/CorrectionBrush.ttf") format("truetype");
}

@font-face {
  font-family: "DripOctober";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/DripOctober.ttf") format("truetype");
}

@font-face {
  font-family: "GhostsItalc";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/GhostsItalc.ttf") format("truetype");
}

@font-face {
  font-family: "Magely";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Magely.otf") format("opentype");
}
