@import "../../styles/fonts";

.wrapper {
  display: none;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  padding: 25px 0;
  background: linear-gradient(to bottom right,#ef604e, #f5915d);
  z-index: 10;

  &Container {
    display: flex;
    max-width: 1512px;
    margin: 0 auto;
    position: relative;
    width: 100%;
  }

  &Icon {
    font-family: "CorrectionBrush";
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
    width: 20%;
    z-index: 10;
    padding-left: 10px;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
