@use 'sass:map';
@import '../../styles/variables';
@import './base.module.scss';

@media only screen and (min-width: map.get($breakpoints, 'largeMobile')) {
  .wrapper {
    &Container {
      flex-direction: row;
    }

    &RightSide {
      flex-direction: row;
      width: 50%;
    }

    
  &LeftSide {
    width: 50%;
    align-items: flex-start;
  }
  
    &Initials {
      transform: translateX(-50%);
      padding: 10px 0;
      &Letters {
        width: 60px;
        height: 60px;
        font-size: 50px;
      }  
    }

    &Icons {
      margin: 0;
    }
  }
}